.LogoDate {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 10px;
	background-color: rgb(56, 56, 61, 0.6);
	width: 100%;
	border-radius: 15px 15px 0 0;
}

.banner {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 30px;
	padding: 18px;
}
