.UserPage {
	margin: 20px;
}

.infoUser {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 200px;
	margin: auto;
}

.infoRow {
	display: flex;
	flex-direction: row;
	margin: 0 10px 10px 0;
}

.infoText {
	margin-left: 10px;
}
