.ControlPanel {
	display: flex;
	flex-direction: row;
	padding: 0 10px;
}

.profil {
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.buttonsPanel {
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.buttonsPanel:hover {
	cursor: pointer;
}

.button:hover,
.profil:hover {
	color: #007bff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
