.ControlPanel {
	display: flex;
	flex-direction: row;
	padding: 0 10px;
}

.profil {
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.buttonsPanel {
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.buttonsPanel:hover {
	cursor: pointer;
}
