.iOhNo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;
	color: aliceblue;
	background-color: #0e0e53;
	margin: 0 auto;
}

.iOhNo h2 {
	text-align: center;
}

.content {
	padding: 100px 0 100px 0;
}
